
@font-face {
    font-family: 'ABCMonumentGrotesk';
    src: url('/fonts/ABCMonumentGrotesk-Regular-Trial.woff2?v=1') format('woff2'),
    url('/fonts/ABCMonumentGrotesk-Regular-Trial.woff?v=1') format('woff'),
    url('/fonts/ABCMonumentGrotesk-Regular-Trial.otf?v=1') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ABCMonumentGrotesk-Medium';
    src: url('/fonts/ABCMonumentGrotesk-Medium-Trial.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'OCRAStd';
    src: url('/fonts/OCRAStd.otf') format('opentype');
    font-weight: 400;
}
*{
    font-family: 'ABCMonumentGrotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: #F7F7F7;

      }
  
  
      .main-container {
        overflow: hidden;
        z-index: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;

        padding-left: 7.5px;
        
        padding-right: 7.5px;
    }

    #content{
        width: 100%;
        margin-top: 60.12px;
    }
    header {
        position: fixed;
        top: 0;
        width: 100%;
        padding-left: 7.5px;
        padding-right: 7.5px;
        height: 60.12px;
        background-color: #F7F7F7;
        z-index: 1000;
    }

.nav{
    position: relative;
    width: 100%;
    margin: 0;
    border-top: 1px solid #BCBCBC;
    border-bottom: 1px solid #BCBCBC;
    background-color:#F7F7F7;
margin-top: 36.41px;
padding-top: 4px;
  padding-bottom: 4px;
letter-spacing: -0.02em;
}

.nav #nav-links a{
    
    margin-right: 32.1px;
    font-family: 'OCRAStd';
  font-size: 10px;
z-index: 1001 !important;
position: relative;
}
.nav #nav-links .home{
    margin-left:26.95px; 
    margin-right:71.44px;
}

.homepage-numbering{
    position: absolute;
width: 100%;
text-align: center;
    top: 25%;
    color: #0C0C0C;
font-family: "OCRAStd";
font-size: 10px;
}
.homepage-info{
    position: absolute;
    right: 26.95px;
    top: 25%;
    color: #0C0C0C;
    font-family: "OCRAStd";
    font-size: 10px;
}

footer {
    background-color: #F7F7F7;
    position: fixed;
    bottom: 0;
    width: calc(100% - 15px); /* Ajusta el ancho total para incluir los paddings */
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 16px;
    margin: auto;
    height: 100px;
    border-top: 1px solid #BCBCBC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.footer-section  * {
    
    font-family: 'OCRAStd' !important;
   
    font-size: 10px;
}

.footer-section {
    
   height: 100%;
}

footer .footer-section:nth-of-type(1) {
    margin-left: 22.9px;
}

footer .footer-section:nth-of-type(4) {
    margin-right:25px;
}





#projects {
    margin-top:58.5px; /* Margen superior adaptado */
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
}
#projects::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
#projects .project:last-of-type {
    border-bottom: 1px solid #BCBCBC; /* Se mantiene constante */
}

.project {
    border-top: 1px solid #BCBCBC; /* Se mantiene constante */
    padding-top: 10.44px; /* Padding superior adaptado */
    padding-bottom: 7.16px; /* Padding inferior adaptado */
    /*height: calc(127.67 / 1170 * 100vh);*/
    height:127.3px;
    display: flex;
}

.work-project-info{
    min-width: 346px;
    position: relative;
}
.work-project-year{
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    font-size: 12px; 
    font-family: 'OCRAStd';
}
/* Animación de opacidad */
.image-fade-in {
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.work-project-title {
    position: absolute;
    top: 0;
    left: 22.9px;
    
}
.work-project-title span{
    line-height: 1;
    font-size: 24px;
}

.hiddenDetails{
    left: 22.9px;
    bottom: 4px;
    position: absolute;
    color: #000;
font-family: "OCRAStd";
font-size:9px;
visibility: hidden;
line-height: 125%;
}

.work-project-title:hover span{ 
    
    background: #F4FF61;
}
.work-project-title:hover ~ .work-project-year {
    background: #F4FF61; 
}

.work-project-title:hover ~ .hiddenDetails {
visibility: visible;
}

.work-project-plus{
    user-select: none;
    position: absolute;
    font-size:18px;
    text-transform: capitalize;
    top: 0;
    right: 0;
}.work-project-images {
    margin-left: 30.59px;
    height: 100%;
    display: flex;
    gap:3.44px;
}

.work-project-images .work-project-image-container {
    height: 100%;
    width: 82px; /* Ancho estándar para imágenes normales */
    position: relative;
    overflow: hidden; /* Esconde las partes de la imagen que sobresalgan */
}

.work-project-images .work-project-image-container img {
    object-fit: cover; /* Asegura que la imagen llene el contenedor */
    object-position: center; /* Centra la imagen */
    width: 100%; /* Por defecto, las imágenes llenan el ancho del contenedor */
    height: 100%; /* Por defecto, las imágenes llenan la altura del contenedor */
}

/* Imagen destacada (cropped y más ancha) */
.work-project-images .work-project-image-container.work-image-crop {
    width: 144px; /* Ancho del contenedor más grande */
    height: 100%; /* Mantén la altura consistente con el resto */
    overflow: hidden; /* Recorta el contenido que exceda los límites */
}

.work-project-images .work-project-image-container.work-image-crop img {
    object-fit: cover;
    object-position: center;
    height: auto;
    position: absolute;
}

#backToTop{
    height: 61.36px;
    display: flex;
    align-items: center;
    
    padding-left: 22.9px;
}
#backToTop > * {
    font-family: 'OCRAStd';
    font-size: 8px;
}

.hover-effect:hover{
    background: #F4FF61 !important;
}
.nav a.active-link {
    background: #F4FF61;
}

.nav a.hover-effect:hover {
    background: #F4FF61;
}


.gentle-hover-shake:hover {
    animation: tilt-shaking 0.25s infinite;
  }
  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  

/*----------------------------------------------------------------------------------------------------------------------------------------*/


/*Project top part*/
#project-content-top{
    margin-top: 45.3px;
    margin-left: 26.95px;
    padding-right: 1em;

}

#project-content-top p{
    margin-bottom: 1em;
}
#project-title{
    color: #0C0C0C;
    font-family: "OCRAStd";
    font-size: 12px;
    font-style: normal;
    
    text-decoration-line: underline;
    text-decoration-style: solid;
margin-bottom:15.74px;

}
#project-description p{
    color: #0C0C0C;
font-size: 24px;

font-style: normal;
font-weight: 400;
max-width:  1045.667px;
line-height: 125%; /* 12.12px */
letter-spacing: -0.24px;
}

#project-description p > *{
    line-height: 125%; /* 29.76px */
    
    
        color: #0C0C0C;
    font-size: 24px;
    font-weight: 400;
}


.curator-container span{
    font-family: "OCRAStd";
    font-size: 10px;
        color: #0C0C0C;
}


#dropdowns{
    margin-top:  44.86px;

}
#dropdowns .dropdown-container:last-of-type .dropdownTitleContaniner{
    border-bottom: 1px solid #BCBCBC;

}
#dropdowns .dropdown-container:last-of-type {
    margin-bottom: 53.86px;

}
.dropdownTitleContaniner{
    border-top: 1px solid #BCBCBC;
padding:  5px 0;
padding-left:0;
display: flex;
align-items: center;
}

/* Título del dropdown */
.dropdown-title {
    display: flex;
flex-direction: row-reverse;
    margin-right: 10px;
    color: #0C0C0C;font-size: 24px;
    font-style: normal;

    text-transform: capitalize;
    cursor: pointer;
    display: block;
    margin-left: 17.08px;
}
.arrow{
    font-size: 24px;
font-style: normal;
}




.dropdown-content {
    padding-left: 20.35px;
    display: none;
    padding-top:  46.62px;
    padding-bottom:  30.18px;
    position: relative;
}

.dropdown-content-visible {
    display: block;
}

.exhibition-info{
}
.exhibition-date,.exhibition-details,.exhibition-curator, .exhibition-assistant{
    font-family: "OCRAStd";
    font-size: 10px;
}
.exhibition-date{
    margin-left: 260px;
    margin-bottom: 7.5px;
    
}
.exhibition-details{
    margin-bottom: 2.72px;
}
.exhibition-curator, .exhibition-assistant{
    margin-left: 14px;

}
/* Imágenes dentro del contenido del dropdown */
/* Imagen dentro del dropdown */
.exhibition-group{
    position: relative;
}

.dropdown-image {
    user-select: none;
    cursor: pointer;
    object-fit: cover;
    z-index: 1;
    position: relative;
    width: 163.691px; /* Dimensiones específicas para las imágenes */
    height: 215.153px; /* Dimensiones específicas para las imágenes */
    object-fit: cover; /* Recorta la imagen para llenar el espacio */
    object-position: center; /* Centra la parte visible de la imagen */
    display: inline-block;
    margin-right: 11.62px;
    margin-bottom:11.62px;

}
.exhibition-images{
    margin-top: 18.43px;
    margin-bottom: 29.81px;
}
.exhibition-image {
    user-select: none;
    cursor: pointer;
    object-fit: cover;
    margin-right: 11.62px;
    margin-bottom:11.62px;
    display: inline-block;
    z-index: 1;
    position: relative;
    max-height: 109.17px;


}
/* Navegación dentro del contenido del dropdown */
.dropdown-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Ocultar por defecto */
    z-index: 1; /* Debajo de los botones */
    pointer-events: none; /* Evitar que interfiera con los clics */
}

/* Áreas clicables */
.dropdown-nav .nav-left,
.dropdown-nav .nav-right {
    position: absolute;
    top: 0;
    height: 100%; /* Altura completa del contenido */
    width: 40%; /* Solo ocupa un pequeño margen a los lados de la imagen */
    cursor: pointer;
    background: rgba(0, 0, 0, 0); /* Invisibles */
    z-index: 3; /* Delante de la imagen */
    pointer-events: auto; /* Permitir interacción solo en las áreas clicables */
}

.dropdown-nav .nav-left {
    left: 0; /* En el margen izquierdo del dropdown-content */
}

.dropdown-nav .nav-right {
    right: 0; /* En el margen derecho del dropdown-content */
}

.press{
    padding-left: 16px;
    padding-top: 12.67px;
    padding-bottom: 0;
}

.press-item {
    margin-bottom:7.15px;

    
}
.press-item a, .press-item span{
    font-family: "OCRAStd";
font-size: 10px;
text-decoration: underline;

}
.press .press-item:last-of-type {
    margin-bottom:0px;
    
}


.press-item a:hover {
    text-decoration: underline;
}

.press-date {
    margin-top:8px;
}

/* Galería */.hidden {
    display: none !important; 
}

/* Contenedor principal de la galería */
#gallery {
    display: flex; /* Coloca los dos contenedores en fila */
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: calc(100vh - 160.167px); /* Ocupa toda la altura visible menos el footer */
    box-sizing: border-box; /* Incluye padding en los cálculos */
    overflow: hidden; /* Evita scroll */
    cursor: none;
}

.gallery-left{
    width: 50%; /* Ocupa la mitad del ancho de la pantalla */
    height: 100%; /* Ocupa toda la altura de #gallery */
    display: flex;
    justify-content: space-between; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    overflow: hidden; /* Evita que la imagen desborde */
}
/* Contenedor de la imagen */
.gallery-image-container {
      display: flex;
      justify-content: center;
    align-items: center; /* Centra la imagen verticalmente */
    height: 100%; /* Ocupa toda la altura de #gallery */
    box-sizing: border-box; /* Incluye padding si es necesario */
}

/* Imagen dentro del contenedor */
#gallery-image {
    user-select: none;
    padding-bottom: 26px;
    padding-top: 26px;
    max-height: 100%; /* La imagen responde a la altura del contenedor */
    max-width: 100%; /* Se adapta al ancho disponible */ /* Garantiza que no se desborde horizontalmente */
    object-fit: contain; /* Escala la imagen conservando su proporción */
}

/* Contenedor de la información */
#gallery-info {
    width: 50%; /* Ocupa la otra mitad del ancho de la pantalla */
    height: 100%; /* Ocupa toda la altura de #gallery */
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    justify-content: center; /* Centrar contenido verticalmente */
    box-sizing: border-box; /* Incluye padding en los cálculos */
    text-align: left; /* Alinea el texto a la izquierda */
}
#gallery-info-top{
    padding-bottom: 13.09px;
    padding-top: 11.2px;
    text-decoration-line: underline;
    font-family: "OCRAStd";
    font-size: 12px;
}
#gallery-name,#gallery-date{
    font-family: "OCRAStd";
    font-size: 12px;
    font-style: normal;
        text-transform: uppercase;
}
#gallery-info-bottom{
    display: flex;
    flex-direction: column;
    padding-bottom: 14.53px;
}

#gallery-number{
padding-left: 25.5px;
padding-right: 21.14px;    
color: #0C0C0C;
font-family: "OCRAStd";
font-size: 12px;

user-select: none;
}
#gallery > * {
    user-select: none;
}

#gallery-info-container{
    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    padding-left: 67.22px;
    position: relative;
}

#custom-cursor {
    text-transform: uppercase;
    position: absolute;
    pointer-events: none; /* No interfiere con clics */
    font-size: 12x;
    background-color: #F4FF61;
    font-family: "OCRAStd";
    color: black;
    transform: translate(-50%, -50%);
    display: none; /* Oculto inicialmente */
    z-index: 1000; /* Encima de otros elementos */
    padding: 0;
    margin: 0;
    height: fit-content;
    width: fit-content;
}



#back-to-project{
    user-select: none; 
    cursor: pointer;
    position: absolute;
    bottom: -20px;
    left: 67.29px;
    color: #000;
font-family: "OCRAStd";
font-size: 8px;
}
#about-container{
    height: calc(100vh - 160px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
}

#about-contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 31.74px;
    padding-right: 36.78px;
    position: relative;
}
.about-contact-info{
    display: flex;
    flex-direction: column;
    color: #0C0C0C;
}
.about-contact-info > *{
    width: fit-content;
}

.about-contact-info span, .about-contact-info a{
    font-family: "OCRAStd";
    font-size: 10px;
}

.about-contact-info:hover span{
    background-color: #F4FF61;
} 
#about-description{
    line-height: 107%; /* 25.68px */
    margin-left: 60px;
    margin-right: 60px;
    font-size: 24px;
    text-align: center;
}

#about-float-description{
 /* 14.04px */
position: absolute;
bottom: 145.9px;
left: 31.75px;
display: flex;
flex-direction: column;
max-width: 274.402px;
background-color: #F4FF61;
}
#about-float-description p {
    color: #000;
    font-family: "OCRAStd";
    font-size: 10px; 
}
#home-image-container {
    display: flex; /* Coloca los elementos centrados */
    width: 100%; /* Ocupa todo el ancho */
    height: calc(100vh - 160.167px); /* Altura ajustada */
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#home-image-container img {
    user-select: none;
    padding-bottom: calc(63.486 / 1024 * 100vh);
    padding-top: calc(63.486 / 1024 * 100vh);
    max-height: 100%;
    max-width: 100%;
    object-fit: contain; /* Mantén la proporción */
    transition: opacity 0.2s ease-in-out; /* Transición suave */
    opacity: 0; /* Inicialmente oculto */
}

#home-image-container img.loaded {
    opacity: 1; /* Mostrar imagen al cargar */
}


    
    .homepage-numbering,
    .homepage-info {
        display: none;
    }
    
    
.fix-jump{
    min-height: 300px;
}

@media (max-width: 700px) {
    #about-container{
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
    }
    #about-contact{
        margin-left: 25.55px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        background-color: #F4FF61;
        order: 3;
        width: fit-content;
        padding: 0;
        margin-bottom:37.23px ;
    }
    #about-description{
        margin-top: 50.98px;
        text-align: left;
        max-width: fit-content;
        margin-left: 27.81px;
        margin-right: 35.87px;
        order: 1;
        margin-bottom: 28.71px;
    }
    #about-float-description{
        margin-left: 25.55px;
        position: static;
        display: flex;
        flex-direction: column;
        max-width: 316.435px;
        background-color:  transparent;
        order: 2;
        margin-bottom: 32.9px;
        }
        #about-float-description p{
            font-size: 12px;
            line-height: 117%; /* 14.04px */

            }
            .about-contact-info span, .about-contact-info a{
                font-size: 12px;
            }
    .nav a{
        margin-right: 27.69px;
      font-size: 12px;
    }
    .nav .home{
        margin-left:25.55px; 
        margin-right:51.19px !important;
        letter-spacing: -0.24px;
    }
    


    .main-container{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    header{
        padding-left: 0;
        padding-right: 0;
        position: static;
    }
    #content{
        margin-top: 0;
    }
    footer{
        margin-top: auto;
        position: static;

        flex-direction: column-reverse;
        justify-content: start;
        padding-top: 15.09px;
        padding-left: 0;
        padding-right: 0;
        height: 147.19px;
        width: 100%;
    
    }
    .nav #nav-links a{
        font-size: 12px;
    }
    footer .footer-section{
        width: 100%;
        height: fit-content;

    }
    footer .footer-section:nth-of-type(1){
        padding-left: 18.5px;
        display: none;
    }
    footer .footer-section:nth-of-type(4){

        margin-right: 0;
        padding-left: 18.5px;
        margin-bottom: 7.9px;
        display: flex;
        gap: 10px;
            }
    footer .footer-section:nth-of-type(3){
        padding-left: 18.5px;
        margin-bottom: 13.29px;
        display: flex;
        flex-direction: column;
        gap: 6.4px;
    }
    footer .footer-section:nth-of-type(2){
        border-top: 1px solid #BCBCBC;
        padding-left: 18.5px;     
          padding-top: 7.99px;

    }
    #projects{
        margin-top: 41.55px;
    }
    .project{
        flex-direction: column;
        min-height: 196.31px;
        height: fit-content;
        padding-top: 10.09px;
        position: relative;
        justify-content: space-between;
    }
    .work-project-info{
        padding-left: 25.74px;
        min-width: 150px;

    }
    .work-project-year{
        margin-top: 11.48px;
        margin-bottom: 10px;

        position: static;
        width: fit-content;
        font-size: 9px;
    }
    
    .work-project-title {      
        position: static;
        font-size: 24px;
    }
    .hiddenDetails{
        display: none;
    }
    .work-project-plus{
        cursor: default; /* Cursor estándar */
        user-select: none; 
        right: 18.89px;
        cursor: default; /* Cursor estándar */
        user-select: none; 
    }
    .work-project-images{
        margin-left: 0;
        width: 100%;
        overflow-x: scroll;
        display: flex;
        justify-content: flex-start;
        padding-left: 21px;
        flex-wrap: wrap;
    }

    .work-project-images .work-project-image-container {
        width: 71.289px;
        height: 100px;
    }
 
    /* Imagen destacada (cropped y más ancha) */
    .work-project-images .work-project-image-container.work-image-crop {
        width: 124px; /* Ancho del contenedor más grande */
        height: auto; /* Mantén la altura consistente con el resto */
        overflow: hidden; /* Recorta el contenido que exceda los límites */
    }
#gallery{
    display: none;
}
    #project-content-top {
        margin-top: 55.97px;
        margin-left:19.24px;
        padding-right: 1em;
      }
      .dropdown-image, .exhibition-image{
        padding-left: 13.62px;
        padding-right: 13.62px;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        margin-left: 0;
      }
      .exhibition-date{
        margin-left: 0;
        display: flex;
  justify-content: center;
      }
      .exhibition-details{
        margin-left: 13.62px;
    }
    .exhibition-curator, .exhibition-assistant{
        margin-left: 13.62px;
    
    }
      
      .dropdown-content {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
      .infoImagesContainer{
        display: flex;
        flex-direction: column;
        padding-top: 14.55px;
        padding-left: 24.82px;
        border-bottom: 1px solid #BCBCBC;
margin-bottom: 15.18px;
      }
      #gallery-top-info{
        display: flex;
        text-decoration: underline;
        gap: 1em;
      }
      #gallery-bottom-info{
        margin-top: 9.57px;
       
        margin-bottom: 12.09px;
      }
      .gallery-number{
        user-select: none;
        color: #0C0C0C;
font-family: "OCRAStd";
font-size: 12px;
margin: auto;
width: fit-content;
margin-top: 23.71px;
margin-bottom: 24px;
      }
      .press{
        padding-right: 12px;
      }
      .press-item{
        padding-top: 14.55px;
        padding-left: 16px;
      }
}