<div id="about-container">
    <div id="about-contact">
        <a class="about-contact-info" href="mailto:eden1506@gmail.com" target="_blank">
            <span>Write:</span>
            <span>eden1506@gmail.com</span>
        </a>
        <a class="about-contact-info" href="https://edenzornitser.substack.com/" target="_blank">
            <span>Read:</span>
            <span>Eden’s Substack</span>
        </a>
        <a class="about-contact-info" href="https://instagram.com/eden.zorn" target="_blank">
            <span>Follow:</span>
            <span>@eden.zorn</span>
        </a>
        <a class="about-contact-info" href="/download/pdf" target="_blank">
            <span>Download:</span>
            <span>CV</span>
        </a>
    </div>
    <p id="about-description">
        Zornitser's research investigates themes of transience and liminality, with a particular emphasis on individuals
        emerging from local queer and underground scenes who challenge social norms. Their work examines spaces
        associated with queer culture, utilizing an analog large-format camera. By applying hormone liquids to
        chromogenic printing papers, Zornitser enhances the visual representation of transformative experiences,
        creating a dialogue between the medium and the subject.
    </p>

    <div id="about-float-description">
        <p>Eden Zornitser (they/them) is a visual artist and photographer based in Tel Aviv, Israel-Palestine.</p>
        <p>They
            graduated with honors from the Bezalel Academy of Arts and Design in Jerusalem, earning a Bachelor of Fine
            Arts
            degree in 2022.</p>
    </div>
</div>