<div id="project-content" class="fade-in">
    <div id="project-content-top">
        <h1 id="project-title"></h1>
        <p id="project-description"></p>
    </div>
    <div id="dropdowns"></div>



</div>
<div id="gallery" class="hidden">
    <div class="gallery-left">
        <span id="gallery-number">1/4</span>
        <div class="gallery-image-container">
            <img id="gallery-image" />
        </div>
    </div>
    <div id="gallery-info">
        <div id="gallery-info-container">
            <div id="gallery-info-top">
                <span id="gallery-name"></span>
                <span id="gallery-date"></span>
            </div>
            <div id="gallery-info-bottom">
                <span id="gallery-info1"></span>
                <span id="gallery-info2"></span>
            </div>
            <p id="back-to-project">(back to project)</p>
        </div>
    </div>
    <div id="custom-cursor"></div>
</div>